div {
    position: absolute;
    top: 30px;
    left: 50px;
}

#div2 {
    opacity: 0.0; filter: alpha(opacity=0);
    padding-left: 500px;
}

#div1 img {
    filter: 
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=fig01.jpg, sizingMethod='scale');
}

#div2 img {
    filter: 
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=fig02.jpg, sizingMethod='scale');
}